<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>LLXY</title>

    <link rel="stylesheet" href="https://use.typekit.net/lhn5tyr.css?v=2">

    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/tomorrow-night-eighties.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/elixir.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">

    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <header class="header pure-g">
      <div class="pure-u-1-2 x">
        <% secret_action = if Plug.Conn.get_session(@conn, :login) do "/logout" else "/auth" end %>
        <h1 class="a">LLXY<%= link "。", to: secret_action %></h1>
        <h1 class="b">LLXY</h1>
        <h1 class="c">LLXY</h1>
        <h1 class="d">LLXY</h1>
        <h1 class="e">LLXY</h1>
        <h1 class="f">LLXY</h1>
        <h1 class="g">LLXY</h1>
      </div>

      <div class="pure-u-1-2 y">
        <% secret_action = if Plug.Conn.get_session(@conn, :login) do "/logout" else "/auth" end %>
        <h1 class="a">LLXY<%= link "。", to: secret_action %></h1>
        <h1 class="b">LLXY</h1>
        <h1 class="c">LLXY</h1>
        <h1 class="d">LLXY</h1>
        <h1 class="e">LLXY</h1>
        <h1 class="f">LLXY</h1>
        <h1 class="g">LLXY</h1>
      </div>
    </header>

    <main role="main">
      <%= render @view_module, @view_template, assigns %>
    </main>

    <div class="pure-g">
      <div class="pure-u-lg-1-5 pure-u-1"></div>
      <div class="pure-u-lg-3-5 pure-u-1">
        <p id="msg" class="animated fadeOutDown"><%= get_flash(@conn, :msg) %></p>
      </div>
      <div class="pure-u-lg-1-5 pure-u-1"></div>
    </div>

    <script src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
    <script>hljs.initHighlightingOnLoad();</script>
  </body>
</html>
